.body{
    margin: 0;
    background-image: url('../img/login-bg.jpg');
    background-size: 100% 100%;
}
h4{
    text-align: center;
    font-size: 24px;
}
.form-body{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -180px;
    width: 400px;
    height: 360px;
}
.inputs{
    padding: 20px 20px;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.radio-public{
    margin-top: 0!important;
    float: left;
    margin-right: 20px;
}
.btn-login{
    margin-top: 30px;
    width: 100%;
    height: 40px;
}