<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.UserRepository">
    <insert id="save">
        <selectKey resultType="Long" keyProperty="user.id" order="AFTER">
            select LAST_INSERT_ID() AS id
        </selectKey>
        insert INTO user
        (username, password)
        VALUES (#{user.username},#{user.password})
    </insert>

    <select id="selectUserByName" resultType="dto.User">
        SELECT id,username,password FROM USER WHERE username = #{username};
    </select>
</mapper>